:root body {
  --el-color-primary: #4368ff;
  --el-color-primary-light-1: #5677ff;
  --el-color-primary-light-2: #6987ff;
  --el-color-primary-light-3: #7d96ff;
  --el-color-primary-light-4: #90a6ff;
  --el-color-primary-light-5: #a3b5ff;
  --el-color-primary-light-6: #b6c4ff;
  --el-color-primary-light-7: #c9d4ff;
  --el-color-primary-light-8: #dce3ff;
  --el-color-primary-light-9: #f0f3ff;
  --el-color-primary-dark-1: #3552d9;
  --el-color-primary-dark-2: #273cb3;
  --el-color-primary-dark-3: #18268c;
  --el-color-primary-dark-4: #0a1066;
  --el-color-success: #0cc859;
  --el-color-success-light-1: #25ce6a;
  --el-color-success-light-2: #3ed37b;
  --el-color-success-light-3: #56d98c;
  --el-color-success-light-4: #6fde9d;
  --el-color-success-light-5: #88e4ae;
  --el-color-success-light-6: #a1eabf;
  --el-color-success-light-7: #baefd0;
  --el-color-success-light-8: #d2f5e1;
  --el-color-success-light-9: #ebfbf1;
  --el-color-success-dark-1: #09a249;
  --el-color-success-dark-2: #067b39;
  --el-color-success-dark-3: #035529;
  --el-color-success-dark-4: #002e19;
  --el-color-warning: #ffaf27;
  --el-color-warning-light-1: #ffb73d;
  --el-color-warning-light-2: #ffbf53;
  --el-color-warning-light-3: #ffc769;
  --el-color-warning-light-4: #ffd07f;
  --el-color-warning-light-5: #ffd895;
  --el-color-warning-light-6: #ffe0ab;
  --el-color-warning-light-7: #ffe8c1;
  --el-color-warning-light-8: #fff0d7;
  --el-color-warning-light-9: #fff8ed;
  --el-color-warning-dark-1: #d9911d;
  --el-color-warning-dark-2: #b37314;
  --el-color-warning-dark-3: #8c540a;
  --el-color-warning-dark-4: #663600;
  --el-color-danger: #FB2323;
  --el-color-danger-light-1: #fb3939;
  --el-color-danger-light-2: #fc5050;
  --el-color-danger-light-3: #fc6666;
  --el-color-danger-light-4: #fd7d7d;
  --el-color-danger-light-5: #fd9393;
  --el-color-danger-light-6: #fdaaaa;
  --el-color-danger-light-7: #fec0c0;
  --el-color-danger-light-8: #fed7d7;
  --el-color-danger-light-9: #ffeded;
  --el-color-danger-dark-1: #d51a1e;
  --el-color-danger-dark-2: #ae1218;
  --el-color-danger-dark-3: #880913;
  --el-color-danger-dark-4: #61000d;
  --el-color-error: #fb2323;
  --el-color-error-light-1: #fb3939;
  --el-color-error-light-2: #fc5050;
  --el-color-error-light-3: #fc6666;
  --el-color-error-light-4: #fd7d7d;
  --el-color-error-light-5: #fd9393;
  --el-color-error-light-6: #fdaaaa;
  --el-color-error-light-7: #fec0c0;
  --el-color-error-light-8: #fed7d7;
  --el-color-error-light-9: #ffeded;
  --el-color-error-dark-1: #d51a1e;
  --el-color-error-dark-2: #ae1218;
  --el-color-error-dark-3: #880913;
  --el-color-error-dark-4: #61000d;
  --el-color-info: #909399;
  --el-color-info-light-1: #9b9ea3;
  --el-color-info-light-2: #a7a9ae;
  --el-color-info-light-3: #b2b4b8;
  --el-color-info-light-4: #bdbfc3;
  --el-color-info-light-5: #c9cacd;
  --el-color-info-light-6: #d4d5d7;
  --el-color-info-light-7: #dfe0e2;
  --el-color-info-light-8: #ebebec;
  --el-color-info-light-9: #f6f6f7;
  --el-color-info-dark-1: #909399;
  --el-color-info-dark-2: #909399;
  --el-color-info-dark-3: #909399;
  --el-color-info-dark-4: #909399;
  --el-text-color-primary: rgba(0, 0, 0, 0.85);
  --el-text-color-regular: rgba(0, 0, 0, 0.65);
  --el-text-color-secondary: rgba(0, 0, 0, 0.45);
  --el-text-color-placeholder: rgba(0, 0, 0, 0.25);
  --el-text-color-disabled: rgba(0, 0, 0, 0.25);
  --el-border-color: #d9d9d9;
  --el-border-color-light: #f0f0f0;
  --el-border-color-lighter: #f5f5f5;
  --el-border-color-extra-light: rgba(0, 0, 0, 0.04);
  --el-border-color-dark: rgba(0, 0, 0, 0.06);
  --el-border-color-darker: rgba(0, 0, 0, 0.15);
  --el-fill-color: #f0f0f0 !important;
  --el-fill-color-light: rgba(0, 0, 0, 0.02) !important;
  --el-fill-color-lighter: rgba(0, 0, 0, 0.04) !important;
  --el-fill-color-dark: rgba(0, 0, 0, 0.45) !important;
  --el-fill-color-darker: rgba(0, 0, 0, 0.75) !important;
  --el-fill-color-blank: #ffffff !important;
  --el-font-size-extra-large: 32px;
  --el-font-size-large: 24px;
  --el-font-size-medium: 16px;
  --el-font-size-base: 14px;
  --el-font-size-small: 12px;
  --el-font-size-extra-small: 10px;
  --el-font-weight-primary: 500;
  --el-font-weight-light: 300;
  --el-font-weight-regular: 400;
  --el-font-weight-medium: 500;
  --el-font-weight-semi: 600;
  --el-box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
  --el-box-shadow-light: 0px 4px 10px 0px rgba(0, 0, 0, 0.1);
  --el-box-shadow-lighter: 0px 6px 12px 0px rgba(0, 0, 0, 0.12);
  --el-box-shadow-dark: 0px 16px 48px 16px rgba(0, 0, 0, 0.08), 0px 12px 32px rgba(0, 0, 0, 0.12), 0px 8px 16px -8px rgba(0, 0, 0, 0.16);
  --el-border-radius-base: 4px;
  --el-border-radius-small: 2px;
  --el-border-radius-round: 20px;
  --el-border-radius-circle: 100%;
  --el-line-height-1: 20px;
  --el-line-height-2: 20px;
  --el-line-height-3: 20px;
  --el-line-height-4: 20px;
  --el-line-height-5: 20px;
  --el-line-height-6: 20px;
  --el-line-height-7: 20px;
  --el-line-height-8: 20px;
  --el-line-height-9: 20px;
  --el-component-size-small: 28px;
  --el-component-size-large: 40px;
  --el-component-size-default: 32px;
  --el-padding: 12px;
  --el-padding-large: 24px;
  --el-padding-small: 12px;
  --el-sidebar-bg: #10182C;
  --el-sidebar-bg-active: rgba(255, 255, 255, 0.11);
  --el-sidebar-width: 240px;
  --el-menu-item-font-size: 16px;
  --el-menu-item-height: 40px;
}
